= render "form"
.container-fluid
  .row 
    .col-sm
    .col-sm-6  
      .col.justify-content-center
        .row-md-2
          .col-sm.justify-content-center{style: "padding: 0"}
            .card.shadow.p-3.mb-5.bg-body.rounded-3{style: "width: 100%"}
              - @posts.each do |post|
                %dl
                  .card_body
                    - if member_signed_in?
                      %dt
                      %dd
                      %span{class: "fs-4 font-weight-bold text-muted"} Member name:&nbsp;
                      .row.justify-content-around
                        .col-11{class: "font-weight-light text-muted"}
                          = post.member.username
                    %dt
                    %dd
                    %span{class: "font-weight-light text-muted"} Post title:&nbsp;
                    %big.display-5
                    .row.justify-content-around
                      .col-11{class: "font-weight-light text-muted"}
                        = post.title
                    %dt
                    %dd
                    %span{class: "font-weight-light text-muted"} Message:&nbsp;
                    .row.justify-content-around
                      .col-11{class: "font-weight-light text-muted"}
                        %span.text-muted&= post.body
                  %br
    .col-sm
